@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
body input, body textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
